<strong><%= matchee.name %></strong><br />
<%= image_tag fb_prof_image(matchee) %><br />

<div class="btn-group">
  <button class="btn">
    <i class="icon icon-globe black"></i>
  </button>
  <button class="btn facebook-profile" data-uid="<%= matchee.uid %>">
    <i class="icon icon-facebook"></i>
  </button>

  <button class="btn <%= match.starred ? 'starred-match' : 'unstarred-match' %>" data-id="<%= match.id %>">
    <i class="icon icon-star<%= '-empty' unless match.starred %>"></i>
  </button>
</div>