<div class="row">
  <div class="span3">
    <div class="profpic">
      <%= image_tag "http://graph.facebook.com/#{current_user.uid}/picture?type=large" %><br>
      <b>Welcome, <%= current_user.name %></b>
    </div>
</div>

  <%= form_for current_user, remote: true, html: {class: "form-horizontal"} do |f| %>
    <div class="span6">
      <div class="surveyQuestions">
        <div class="control-group">
          <%= f.label :company, class: "control-label" %>
          <div class="controls">
            <%= f.text_field :company %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :cleanliness, class: "control-label" %>
          <div class="controls">
            <%= f.text_field :cleanliness %>
          </div>
        </div>


        <div class="row">
          <div class="span2">
            <div class="control-group">
              <%= f.label :loudness, class: "control-label" %>
              <div class="controls">
                <%= f.check_box :loudness %>
              </div>
            </div>
          </div>

          <div class="span4">
            <div class="control-group">
              <%= f.label :house_parties, class: "control-label" %>
              <div class="controls">
                <%= f.check_box :house_parties %>
              </div>
            </div>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :about, class: "control-label" %>
          <div class="controls">
            <%= f.text_area :about, rows: 5 %>
          </div>
        </div>
      </div>
    </div>

    <div class="span3">
      <div class="findRoommates">
        <p>Tell us about yourself so we can generate the best matches for you! To find best
        matches for a group, click "Add Roommate".&nbsp;</p>
        <%= button_tag class: "btn" do %>
          <i class="icon icon-search"></i> 
          Find Roommates!
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<div class="result" />